<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 연결한 DB의 정보를 작성한다. -->
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="UNPOOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/> <!-- 172.17.0.1 or localhost -->
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource>				
		</environment>
	</environments>
	
	<!-- 참조할 oracle이 작성될 xml파일의 위치를 지정해준다. -->
	<mappers>
		<mapper resource="mybatis/oracle/NoticeMapper.xml"/>
		<mapper resource="mybatis/oracle/ContentMapper.xml"/>
		<mapper resource="mybatis/oracle/AccountMapper.xml"/>
		<mapper resource="mybatis/oracle/FileStorageMapper.xml"/>
		<mapper resource="mybatis/oracle/FinanceMapper.xml"/>
	</mappers>
</configuration>