<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FinanceMapper">
	<select id="selectAllChart" resultType="home.Finance">
		SELECT
			TO_CHAR(t.hiredate, 'YYYY-MM-DD') AS hiredate,
			SUM(CASE
				WHEN t.country_type LIKE '미국%' THEN t.purchase_total * e.us_exchange
				WHEN t.country_type LIKE '일본%' THEN (t.purchase_total * e.jp_exchange) / 100
				ELSE 0 END) AS purchase_total,
			SUM(CASE
				WHEN t.country_type LIKE '미국%' THEN t.now_total * e.us_exchange
				WHEN t.country_type LIKE '일본%' THEN (t.now_total * e.jp_exchange) / 100
				ELSE 0 END) AS now_total
			FROM test_stock_info t
			JOIN exchange_rate e ON t.hiredate = e.hiredate
			GROUP BY TO_CHAR(t.hiredate, 'YYYY-MM-DD')
			ORDER BY TO_CHAR(t.hiredate, 'YYYY-MM-DD') ASC
	</select>
	
	<select id = "selectAllHiredate" resultType="home.Finance">
		select to_char(hiredate,'YYYY-MM-DD') as hiredate from test_stock_info group by hiredate order by hiredate
	</select>
</mapper>