<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WebhardMapper">
    <select id="selectAllWebhard" resultType="webhard.Webhard">
        SELECT * FROM webhard
    </select>
    
    <select id="selectWebhardByNum" parameterType="int" resultType="webhard.Webhard">
        SELECT * FROM webhard WHERE num = #{num}
    </select>

    <insert id="insertWebhard" parameterType="webhard.Webhard">
        INSERT INTO webhard (fname, ftime, fsize)
        VALUES (#{fname},now(),#{fsize})
    </insert>

    <delete id="deleteWebhard" parameterType="int">
        DELETE FROM webhard WHERE num = #{num}
    </delete>
</mapper>