<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AccountMapper">
    <select id="selectAllAccount" resultType="home.Account">
        SELECT * FROM test_account order by num
    </select>

    <select id="selectAccountOne" parameterType="home.Account" resultType="home.Account">
    	select * from test_account where id = #{id} and pw = #{pw}
    </select>
    
    <select id="selectAccountCheck" parameterType="String" resultType="boolean">
    	select count(*) from test_account where id = #{id}
    </select>

    <insert id="insertAccount" parameterType="home.Account">
    	insert into test_account (id, pw, name, tel) 
    	values (#{id}, #{pw},#{name},#{tel})
    </insert>

    <update id="updateAccount" parameterType="home.Account">
    	update test_account 
    	set pw = #{pw}, name = #{name}, tel = #{tel} 
    	where id = #{id}
    </update>

    <delete id="deleteAccount" parameterType="String">
        DELETE FROM test_account WHERE num = #{num}
    </delete>
    
</mapper>