@charset "UTF-8";

input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #0056b3; /* 버튼 마우스 오버 배경색 */
}

input[type="text"], textarea {
	width: 100%; /* 입력 필드 너비 100% */
	box-sizing: border-box; /* 테두리와 패딩을 포함한 너비 설정 */
}
