@charset "utf-8";

section{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-image: url(../img/rose.jpg);
    background-position: center center;
    background-size: contain;
}